<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.feng.module.test.dao.OrderInterceptConfigMapper">
     <select id="selectByPage" resultType="com.feng.module.test.entity.OrderInterceptConfig">
        select * from user ${ew.customSqlSegment}
    </select>

    <select id="selectById" resultType="com.feng.module.test.entity.OrderInterceptConfig">
        select * from order_intercept_config where id=#{id}
    </select>
</mapper>